{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-dark text-white">
                    <h2 class="text-center mb-0">Пароль успешно изменен!</h2>
                </div>
                <div class="card-body">
                    <p>Ваш пароль был успешно изменен. Теперь вы можете войти в систему с новым паролем.</p>
                    <div class="text-center mt-4">
                        <a href="{% url 'users:login' %}" class="btn btn-primary">Войти в систему</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}