{% extends 'base.html' %}
{% load static %}

{% block title %}Барбершоп "Стильная Борода"{% endblock %}

{% block content %}
<section id="about" class="section pt-0">
    <div class="container">
        <h1 class="main-title">Барбершоп "Стильная Борода"</h1>
        <p class="subtitle">Пока что в разработке...</p>
    </div>
</section>

<section id="services" class="section">
    <h1>Услуги</h1>
    <ul class="services-list">
        {% for service in services %}
            <li>{{ service }}</li>
        {% endfor %}
    </ul>
</section>

<section id="masters" class="section">
    <h1>Наши мастера</h1>
    <ul class="masters-list">
        {% for master in masters %}
            <li>{{ master.name }}</li>
        {% endfor %}
    </ul>
</section>

<section id="booking" class="section">
    <h1>Запись онлайн</h1>
    <form class="contact-form">

    </form>
</section>
{% endblock %}